body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

header{
    background:#111;
    padding:15px;
}

header a{
    color:white;
    margin-right:15px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    max-width:600px;
    background:white;
    margin:30px auto;
    padding:20px;
    border-radius:6px;
}

h1,h2{
    text-align:center;
}

label{
    font-weight:bold;
}

input, select{
    width:100%;
    padding:10px;
    margin:8px 0 15px;
}

button{
    width:100%;
    padding:12px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}

footer{
    text-align:center;
    color:white;
    background:#111;
    padding:10px;
    margin-top:40px;
}
